{% extends 'baseSite.html' %}
{% block site %}
    <div id="navbar">
        <a href="/home">Home</a>
        <a href="/history">History</a>
        <div class="topnav-right">
            <a class="active" href="/profile">{{ user }}</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <h2 style="color: #4fc1e9; font-size: 2.5rem; margin: 25px;">Change Password</h2>
            <label><b>Old Password</b></label>
            {{ form.old_password }}
            <label><b>New Password</b></label>
            {{ form.new_password1 }}
            <label><b>Re-Enter New Password</b></label>
            {{ form.new_password2 }}
            <input type="submit" value="Change">
        </div>
        <div class="error">
            {% if form.errors %}
                <h2>Errors</h2>
                <div>{{ form.errors }}</div>
            {% endif %}
        </div>
    </form>
{% endblock %}